*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body{
    height: 100vh;
    text-align: center;
    padding: 0.1rem;
}

/* header */


.head{
    max-width: 1280px;
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    gap: 10px;

    justify-content: center;
    align-items: center;
    justify-content: space-between; 
     /* margin-left: 200px;
    margin-right: 200px;
    margin-top: 23px;
    margin-bottom: 23px;
      */
    padding: 10px;
}

.first{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.img1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin-top: 10px; */
}

.f2{
font-size: 25px;
color: black;

}

.second1{
    display: flex;
    flex-direction: row;
    gap: 25px;
    
}

.nav1{
    color: black;
    font-size: 16px;
}

.nav1:hover{
    color: blue;
}

.third button {
    background-color: rgb(83, 43, 226);
    padding: 8px 15px;
    color: aliceblue;
    text-decoration: none;
    border: none;

}

.third button:hover{
    color: blue;
}









/* header */





/* main */






.box1{
    max-width: 1280px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0.6rem;
    align-items: center;
    margin-top: 40px;
    
    
    /* /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    
   


    
}
.right{
     text-align: left; 
    /* margin-left: 203px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
 }

 @keyframes slideFromLeft{
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
 }


.left img{
    /* margin-right: 200px; */
    height: 500px;
}

.i1{
    height: 200px;

}

.p1{
    font-size: 25px;
    /* font-weight: bold; */
    color: slateblue;
}
.h1{
    font-size: 50px;
    padding:1px ;
    width: 500px;



}
.p2{
    font-size: 18px;
    
}


.bt{
    display: flex;
    gap: 30px;
    margin: 10px;
}

.bt button{
    background-color: rgb(83, 43, 226);
    padding: 8px 15px;
    color: aliceblue;
    text-decoration: none;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 15px;

}


.bt a{
    color: white;
}

.box2{max-width: 1280px;
    margin: 0 auto; 
    /* display: flex;
    flex-direction: row; */

    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
    

}




.box2 h2{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 35px;
    font-weight: bold;
    /* margin: 50px; */


}

.bottombox{
      display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 236, 234, 0.966);
    height: 100px;
    width: 800px;
    margin-left: 245px;
    padding-left: 80px;
    border-radius: 15px;
    margin-bottom: 35px;

}
.box2 img{
    height: 50px;
    width: 50px;
}

.google{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container2{

    background-color: rgba(236, 236, 234, 0.966);
    width: 100%;
    height: 100%;

}











































/* main */